@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans:400,700');

html {
  font-size: 14px;
  /*font-family: 'Open Sans', sans-serif;*/
}

/*nav*/
nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: inherit;
    color: #399bd1;
}

/*jumbotron*/
.jumbotron {
  background-image: url('../../resources/images/jumbotron.png');
  background-position: center;
  background-size: cover;
  text-align: center;
}

.jumbotron h1 {
  padding-top: 11.85rem;
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  color: white;
  text-transform: uppercase;
}

.jumbotron p {
  width: 51.3rem;
  margin:auto;
}

.jumbotron .btn {
  margin-top: 2.8rem;
  margin-bottom: 11.85rem;
  padding-top: 1.3rem ;
  padding-bottom: 1.3rem;
  background-color: #399bd1;
}
