@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans:400,700');

html {
  font-size: 14px;
  /*font-family: 'Open Sans', sans-serif;*/
}

/*nav*/
nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: inherit;
    color: #399bd1;
}

/*jumbotron*/
.jumbotron {
  background-image: url('../../resources/images/jumbotron.png');
  background-position: center;
  background-size: cover;
  text-align: center;
}

.jumbotron h1 {
  padding-top: 11.85rem;
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  color: white;
  text-transform: uppercase;
}

.jumbotron p {
  width: 51.3rem;
  margin:auto;
  font-family: 'Open Sans', sans-serif;
}

.jumbotron .btn {
  margin-top: 2.8rem;
  margin-bottom: 11.85rem;
  padding-top: 1.3rem ;
  padding-bottom: 1.3rem;
  background-color: #399bd1;
  width: 11.4rem;
}

@media only screen and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}



/*featured project*/
.featured-project {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.featured-project h2, .projects h2 {
  font-weight: bold;
  font-size: 1.7rem;
  color:#399bd1;
}

.featured-project img {
  margin-top: 1.4285714rem;
  width: 100%;
}

.featured-project h3, .projects h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.catagories h3 {
  color: #399bd1;
}

/*projects*/
.projects {
  padding-bottom: 5.85rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/*help*/
.help {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 42rem;
}

.help strong {
  font-size: 2.5rem;
  padding-bottom: 1.4rem;
}

.help .btn {
  margin-top: 2.8rem;
  margin-bottom: 11.85rem;
  padding-top: 1.3rem ;
  padding-bottom: 1.3rem;
  background-color: #399bd1;
  width: 11.4rem;
}
